<!DOCTYPE html>
{% extends 'portfolio_app/base.html' %}
{% load static %}
{% block body_block %}
 
<div class="container-fluid p-0">
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Sri Venkateswara College Of Engineering</h3>
                <div class="subheading mb-3">Bachelor of Technology</div>
                <div>Information Technology</div>
                <p>CGPA: 9.24</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2017 - 2021</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">S.S.K.V Matriculation Higher Secondary School</h3>
                <div class="subheading mb-3">Class 12</div>
                <p>percentage: 96.4%</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary"> 2016 - 2017</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">S.S.K.V Matriculation Higher Secondary School</h3>
                <div class="subheading mb-3">Class 10</div>
                <p>percentage: 96.6%</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary"> 2014 - 2015</span></div>
        </div>
    </div>
</section>
</div>

{% endblock %}