<!DOCTYPE html>
{% extends 'portfolio_app/base.html' %}
{% load static %}
{% block body_block %}
   <!-- Page Content-->
   <div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Vishnu Priya
                <span class="text-primary">T.S</span>
            </h1>
            <div class="subheading mb-5">
                110 Krishnan Street · Pillayar Palayam · Kanchipuram-631 501 · (91)9791403080 ·
                <a href="mailto:vishnupriya0913@gmail.com">vishnupriya0913@gmail.com</a>
            </div>
            <p class="lead mb-5">To utilize my communication skills, fresh thoughts, and
                assertive behavior to accept challenges and benefit the
                organization.</p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/vishnu-priya-t-s"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/vishnupriyats"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="https://www.hackerrank.com/Vishnupriya_"><i class='fab fa-hackerrank'></i></a>
                <!-- <a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a> -->
            </div>

            <br>
            <a class='btn btn-primary' href="{% static 'images/Resume.pdf' %}" download>Resume <i class="fa fa-download" aria-hidden="true"></i></a>
        </div>
        
    </section>

    
    <hr class="m-0" />

    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Sri Venkateswara College Of Engineering</h3>
                    <div class="subheading mb-3">Bachelor of Technology</div>
                    <div>Information Technology</div>
                    <p>CGPA: 9.24</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2017 - 2021</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">S.S.K.V Matriculation Higher Secondary School</h3>
                    <div class="subheading mb-3">Class 12</div>
                    <p>percentage: 96.4%</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"> 2016 - 2017</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">S.S.K.V Matriculation Higher Secondary School</h3>
                    <div class="subheading mb-3">Class 10</div>
                    <p>percentage: 96.6%</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"> 2014 - 2015</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />

    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages & Tools</div>
            <ul class="list-inline dev-icons">
                <li class="btn btn-primary"><i class="fab fa-html5"></i> HTML</li>
                <li class="btn btn-primary"><i class="fab fa-python"></i> Python</li>
                <li class="btn btn-primary"><span class="iconify" data-icon="simple-icons:django" data-inline="false"></span> Django</li>
                <li class="btn btn-primary"><i class="fab fa-node-js"></i> Node.js</li>
            </ul>
            <ul class="list-inline dev-icons">
    
                <li class="btn btn-primary"><span class="iconify" data-icon="bi:bootstrap" data-inline="false"></span> Bootstrap</li>
                <li class="btn btn-primary"><span class="iconify" data-icon="cib:tensorflow" data-inline="false"></span>Tensorflow</li>
                <li class="btn btn-primary"><span class="iconify" data-icon="cib:coreui-c" data-inline="false"></span> C program</li>
                
            </ul>
    </section>
    <hr class="m-0" />


    <section class="resume-section" id="projects">
        <div class="resume-section-content">
            <h2 class="mb-5">Projects</h2>
            
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Movie Buzz-Movie recommendation</h3>
                    <div class="subheading mb-3">Web Application</div>
                    <p>Web applictaion for moive recommendation and review using Node.js,mangodb and bootstrap
                        </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">May 2020 - present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">REMOTE DESKTOP MONITORING SYSTEM</h3>
                    <div class="subheading mb-3">Networks and Security </div>
                    <p>Client is continuously monitored by the server and periodically the
                        client’s screenshot is sent to the server and mouse movement is
                        captured.
                        </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">January 2019 - April 2019</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Smart Dustbin</h3>
                    <div class="subheading mb-3">IOT</div>
                    <p>The smart dustbin is an IoT project designed exclusively for the
                        urban people. It operates automatically using ultrasonic sensor and
                        arduino. It intimates to clean when the dustbin is full along with
                        automatic opening and closing.
                        </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">september 2018 - october 2018</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />


    <div class="container-fluid p-0">
        <section class="resume-section" id="interests">
            <div class="resume-section-content">
                <h2 class="mb-5">Interests</h2>
                <p>Apart from the studies, I enjoy most of my time by doing some paintings and sketches.I own an instagram page for my artworks,I am an aspiring artist. </p>
                <p class="mb-0">Other than painting, I follow a number of sci-fi and fantasy genre movies and television shows, and I spend a large amount of my free time exploring the latest technology advancements.</p>
            </div>
        </section>
        <hr class="m-0" />
        </div>
    <hr class="m-0" />
            

    </div>


   {% endblock %} 