<!DOCTYPE html>
{% extends 'portfolio_app/base.html' %}
{% load static %}
{% block body_block %}

<div class="container-fluid p-0">
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from the studies, I enjoy most of my time by doing some paintings and sketches.I own an instagram page for my artworks,I am an aspiring artist. </p>
        <p class="mb-0">Other than painting, I follow a number of sci-fi and fantasy genre movies and television shows, and I spend a large amount of my free time exploring the latest technology advancements.</p>
    </div>
</section>
<hr class="m-0" />
</div>

{% endblock %}
