<!DOCTYPE html>
{% extends 'portfolio_app/base.html' %}
{% load static %}
{% block body_block %}

<div class="container-fluid p-0">

<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
            <li class="btn btn-primary"><i class="fab fa-html5"></i> HTML</li>
            <li class="btn btn-primary"><i class="fab fa-python"></i> Python</li>
            <li class="btn btn-primary"><span class="iconify" data-icon="simple-icons:django" data-inline="false"></span> Django</li>
            <li class="btn btn-primary"><i class="fab fa-node-js"></i> Node.js</li>
        </ul>
        <ul class="list-inline dev-icons">

            <li class="btn btn-primary"><span class="iconify" data-icon="bi:bootstrap" data-inline="false"></span> Bootstrap</li>
            <li class="btn btn-primary"><span class="iconify" data-icon="cib:tensorflow" data-inline="false"></span>Tensorflow</li>
            <li class="btn btn-primary"><span class="iconify" data-icon="cib:coreui-c" data-inline="false"></span> C program</li>
            
        </ul>
</section>
<hr class="m-0" />
</div>

{% endblock %}